a{
  font-family: 'Dancing Script', cursive;
}
#brand-id{
  font-family: 'Permanent Marker', cursive;
  color: #fff;
}
.navbar-brand:hover{
  color: #fff;
}
.nav-class{
  background-color: #103464;
}
#navbar-toggler{
  color: #fff;
  border-color: #fff;
}
#navbar-toggler > span{
  color: #fff;
  background-image: url("../images/nav-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
#nav-link-class{
  color: #fff;
}
/* .buttons{
  display: flex;
  position: absolute;
  right: 1rem;
  top: 4.5rem;
} */
/* .font-awesome-icons{
  color: #6084f1;
  width: 30px;
  text-align: right;
  font-size: 14px;
} */
#plus-icon, #github-icon{
  color: #fff;
  width: 30px;
  text-align: right;
  font-size: 14px;
}